version: '3.3'

services:
  db:
    container_name: deegree-postgis-db
    build: ./
    image: deegree-postgis-develop
    ports:
      - "5444:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: development

  deegree:
    container_name: deegree-postgis-wfs
    depends_on:
      - db
    image: deegree/deegree3-docker
    ports:
      - "8181:8080"
    volumes:
      - ./workspace:/deegree
    restart: always
    environment:
      DEEGREE_WORKSPACE_ROOT: /deegree